<!--The content below is only a placeholder and can be replaced.-->
<h1>
  Welcome to {{title}}!
</h1>

<nav>
	<a routerLink="/tdc/pilot" routerLinkActive="active">TDC</a>
	<a routerLink="/ebay" routerLinkActive="active">eBay</a>
	<a [routerLink]="[{ outlets: { outerOutlet: ['outer'] } }]">outer</a>
	<!-- <a [routerLink]="[{ outlets: { outerOutlet2: ['fuck'] } }]">fuck</a> -->
</nav>

<router-outlet></router-outlet>

<router-outlet name="outerOutlet"></router-outlet>
<!-- <router-outlet name="outerOutlet2"></router-outlet> -->